body {
    background-image: url("/static/img/arrows4.jpg");
    background-size: cover;
    background-position: auto;
    font-family: 'Kanit', sans-serif;
}

h1 {
  text-shadow: 5px 5px 5px gray;
  text-transform: uppercase;
  font-family: 'Lilita One'
}

.my-title{
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px gray;
}

.site-header {
    height:120px;
}

.navbar-brand {
    color: #ffffff;
    margin-top:35px;
}

.navbar-brand:hover {
    color: #ffa000;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:active {
    background-color: #374047;
    color: #ffffff;
}

.navbar-nav .nav-item .dropdown-menu {
    background-color: #374047;
}

.navbar-nav .nav-item .dropdown-menu .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-item .dropdown-menu .nav-link:hover, .navbar-nav .nav-item .dropdown-menu .nav-link:active {
    background-color: #ffa000;
    color: #ffffff;
}

.navbar-nav .nav-link, .container_menu li a{
    color: #ffffff;
    border-radius: 20px;
    transition: background-color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover, .container_menu li a:hover {
    background-color: #ffa000;
}

.input-container {
    display: flex;
    align-items: center;
    width: 310px;
}

.input-container label {
    width: 100px;
    margin-right: 10px;
    text-align: right;
}

.input-container input {
    width: 70%;
    text-align: right;
}

.green-button {
    margin-top: 20px;
    background-color: #18a123;
    color: #ffffff;
    border-radius: 20px;
    padding: 20px 40px;
    font-size: 20px;
    border: none;
}

.yellow-button {
    margin-top: 20px;
    background-color: #ffcc00;
    color: #ffffff;
    border-radius: 20px;
    padding: 20px 40px;
    font-size: 20px;
    border: none;
}



button {
    background-color: #ffffff;
    color: #ffffff;
    display: none;
}

@media (max-width: 768px) {
  button {
    display: block;
  }
}

.nav-button {
  background-color: #fff;
  color: #000;
}

.hidden {
    display:none;
}

.navbar-nav .nav-link {
  align-items: center;
  display: flex;
  justify-content: center;
}

.site-header {
    display: flex;
    align-items: center;
}

.site-header img {
    margin-right: 10px;
}

.user-icon {
    height:50px;
    width:50px;
    margin:auto 3rem;
}

.user-icon img {
    width:100%;
}

.login_menu{
    margin: auto 0;
}

.login_icon_container{
    display:flex;
    justify-content: center;
}

.login_icon{
    display: block;
}

.login_menu a, .login_icon{
    width: 3rem;
    height: 3rem;
    margin:auto 3rem;
    padding: 0px !important;
    color: #fff;
}

.login_menu a img, .login_icon img{
    width: 100%;
    border-radius: 1.5rem;
}

footer {
    margin: 0;
    height: 50px;
    display: grid;
    place-content: center;
  }

.container_menu{
    background-color: #374047;
    width: 10%;
}

.nav-link.menu{
    height: 2rem;
    width: 100%;
    margin: 0;
    padding: auto;
    text-align: center;
}

.container.py-3{
    min-height: calc(100vh - 120px - 50px);
}