{% extends './base.html' %}

{% block title%} Video {% endblock %}

{% block body %}


    <body>
        <form method="post" enctype=multipart/form-data>
            {{ form.hidden_tag() }}
            <label for="file">File:</label>
            {{ form.file(id="file") }}
            <br>
            <label for="param1">Output type:</label>
            {{ form.param1(id="param1") }}
            <br>
            <label for="param2">Fps:</label>
            {{ form.param2(id="param2") }}
            <br>

            {{ form.submit() }}
            <a href="{{ download_link }}" download>Download</a>
        </form>
    </body>


{% endblock %}